doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script(src="/sjs/Long.min.js")
    script(src="/sjs/ByteBufferAB.min.js")
    script(src="/sjs/PSON.min.js")
    script(src='/js/comabs.js')
    script(src='/js/game.js')
    script(src='/js/main.js')
      
  body
    h1= title
    = "Welcome to " + title
    .midpane.
      This is text

