body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #FFB700
.card
  width: 50px
  height: 50px
  border-style: solid
  border-width: 1px
  border-color: #000000
  text-align: center
  vertical-align: middle
  display: table-cell
  font-size: 30px
  margin: 2px
  float: left
.selected
  border-style: solid
  border-width: 3px
.lastplay
  border-style: solid
  border-width: 3px
.selectedhand
  border-style: solid
  border-width: 3px
.lookHere
  border-width: 5px
.yellow-card
  background-color: #FFFF00
.red-card
  background-color: #AA0000
.blue-card
  background-color: #3333ff
.green-card
  background-color: #008800
.white-card
  background-color: #FFFFFF
.undefined-card
  background-color: #888888
.rainbow-card
  background-image:url('/image/rainbow.png')
.container
  overflow: hidden
.handcontainer
  overflow: hidden
.cardid
  font-size: 10px
